* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

a {
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
	font-size: 1em;
	font-weight: normal;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, article, footer, header, nav, section, main {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

.container {
	width: 960px;
	margin: 0 auto;
	height: 900px;
	padding: 0px;
}
