.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  text-align: left;
}

.subtitle-content {
  text-align: left;
}

.subtitle-content::after {
  margin: 0;
}

.history p{
  text-indent: 5px;
  color:black;
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 18px;
  width: 550px;
}

.values p {
  font-size: 18px;
  line-height: 30px;
  color:black;
}